/* .logo {} */

*{
    padding: 0;
    margin: 0;
}
.logo img {
  width: 164px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Segoe UI";
  padding: 10px 0;
}

.right ul {
  display: flex;
  gap: 24px;
}

.right ul li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.right ul li span {
  padding: 0 5px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
  margin: 70px;
  font-family: sans-serif;
}

.first .heading {
  font-size: 50px;
  text-align: center;
    padding-bottom: 20px;
}

.first .heading img {
  width: 100px;
  width: 0 23px;
}

/* .download-section {
  width: 44vw;
  font-size: 23px;
  text-align: center;
} */
 .download-section {
  width: 70vw;
  font-size: 23px;
  text-align: center;
}


.btn {
  background-color: #00b6d1;
  color: white;
  padding: 14px 16px;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  margin: 12px 0;
  cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.green {
  background-color: #5cb85c;
}

.flex {
  display: flex;
}

.small {
  font-size: 12px;
}

.second {
  max-width: 75vw;
  margin: auto;
}

/* .item {
  background-color: #f9f9f9;
  padding: 23px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
.item {
    background-color: #f9f9f9;
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

.item-lang {
  text-align: center;
  font-weight: 700;
  padding-bottom: 36px;
}

/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
} */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 50px;
}



.download :nth-child(2){
font-size: 23px;
}

.download img{
    padding: 0 12px;
    
}
.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;

padding-bottom: 20px;
}



footer{
    background-color: #f9f9f9;
}


.footer{
    display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 68px;
padding: 50px 150px;
font-family: 'Segoe UI';
;

}

.footer h4{
    font-family: 'Segoe UI';
}

.footer ul{
    padding-top: 15px;
}
.footer ul li{
    list-style: none;
    padding: 1.5px;
}

.subscribe-btn{
    padding: 15px 85px;
}

.subscribe input{
    margin-top: 5px;
    padding: 5px 5px;
    border-radius: 6px;
    border: 1px solid grey;
    width: 234px;
    height: 37px;
}


.contact{
    display: grid;
grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    grid-column-gap:60% ;
    justify-content: center;
    align-items: center;
padding: 0px 150px;
font-family: 'Segoe UI';
}

.copyright{
    padding: 20px 150px 70px;
    font-family: 'Segoe UI';
}


@media screen and (max-width: 1145px){
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
      }
      
      .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
padding: 50px 50px;
      }

      .contact{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 40px;
        padding: 50px 50px;
      }
      .copyright{
        text-align: center;
      }
      .first {
        margin: 70px 10px;
        font-family: sans-serif;
      }

      .download-section {
        width: 90%;
        font-size: 15px;
      }

      .second{
        width: 50vw;
      }
    
     
}